@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap');

body {
  background-color: #3B93FF;
  overflow-x: hidden;
  overflow-y: scroll;
}

#container {
position: absolute;
width: 1508px;
height: 865px;
left: 50%;
transform: translate(-50%,0%);
top: -115px;

z-index: 1;
background: linear-gradient(0deg, rgba(41, 41, 41, 0.5), rgba(41, 41, 41, 0.5)), url(images/bg.png);
}

#container2 {
  position: absolute;
  width: 1508px;
  height: 865px;
  top: 748px;
  left: 50%;
  transform: translate(-50%,0%);

  background-color: #27AE60;
}

#container3 {
  position: absolute;
  width: 1508px;
  height: 865px;
  top: 1613px;
  left: 50%;
  transform: translate(-50%,0%);

  background-color: #ccc;
}

#navbar {
  position: absolute;
  width: 100%;
  height: 76px;
  top:0px;
  left:0px;
  background-color: #2F3640;
  z-index: 2;
}

#logo {
  position: absolute;
  width: 285px;
  height: 285px;
  left: 577px;
  top: 217px;
}

#navicon {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 16px;
  top: 16px;

  background-image: url(images/icon.png);
}

#title {
  position: absolute;
  width: 396px;
  height: 77px;
  left: calc(50% - 435px/2);
  top: 468px;

  font-family: 'Varela Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 77px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #F2C94C;

  text-shadow: 10px 11px 4px rgba(0, 0, 0, 0.42);
}

#title2 {
  position: absolute;
width: 510px;
height: 65px;
left: 530px;
top: 532px;

font-family: 'Nunito',sans-serif;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 65px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}

.serv_cim {
  position: absolute;
  width: 516px;
  height: 102px;
  left: 50%;
  top: 29px;

  transform: translate(-50%,0%);

  font-family: 'Varela Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 87px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #000000;
  z-index: 100;
}

.group1 img {
  position: absolute;
  width: 220px;
  height: 220px;
  left: 148px;
  top: 292px;
}

.group1 h2 {
position: absolute;
width: 410px;
height: 58px;
left: 53px;
top: 532px;

font-family: 'Varela Round',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 58px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.085em;
text-transform: uppercase;

color: #000000;
}

.group1 p {
position: absolute;
width: 412px;
height: 58px;
left: 52px;
top: 600px;

font-family: 'Be Vietnam', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
text-align: center;
letter-spacing: 0.02em;
text-indent: 5px;

color: #000000;
}

.group2 img {
  position: absolute;
  width: 225px;
  height: 225px;
  left: 607px;
  top: 292px;
}

.group2 h2 {
  position: absolute;
width: 292px;
height: 52.35px;
left: 574px;
top: 532px;

font-family: Varela Round;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 58px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.1em;
text-transform: uppercase;

color: #000000;
}

.group2 p {

position: absolute;
width: 301px;
height: 61px;
left: 572px;
top: 600px;

font-family: 'Be Vietnam', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
text-align: center;
letter-spacing: 0.02em;
text-indent: 5px;

color: #000000;
}

.group3 img {
position: absolute;
width: 220px;
height: 220px;
left: 1076px;
top: 292px;
}

.group3 h2 {
  position: absolute;
width: 257px;
height: 58px;
left: 1058px;
top: 532px;

font-family: Varela Round;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 58px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.1em;
text-transform: uppercase;

color: #000000;
}

.group3 p {

position: absolute;
width: 395px;
height: 58px;
left: 989px;
top: 600px;

font-family: 'Be Vietnam', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
text-align: center;
letter-spacing: 0.02em;
text-indent: 5px;
text-transform: capitalize;

color: #000000;
}

#btn_ply {
  border-style: none;
  position: absolute;
  width: 145px;
  height: 45px;
  left: 50%;
  top: 16px;

  animation-name: ply_off;
  animation-duration: 0.5s;
  animation-play-state: running;

  background: #2F80ED;
  border-radius: 15px;
}

#btn_ply p {
  position: absolute;
  width: 91px;
  height: 49px;
  left: 50%;
  top: 50%;
  transform: translate(-45%,-120%);

  font-family: 'Nunito',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}

#btn_ply:hover {
  position: absolute;
  width: 145px;
  height: 45px;
  left: 50%;
  top: 16px;
animation-name: ply_on;
animation-duration: 0.5s;
animation-play-state: running;
background: #FFFFFF;
border: 3px solid #2F80ED;
box-sizing: border-box;
border-radius: 15px;
}

#btn_ply:hover p {
  position: absolute;
  width: 91px;
  height: 49px;
  left: 50%;
  top: 50%;
  transform: translate(-45%,-120%);

  font-family: 'Nunito',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #2F80ED;
}

#btn_serv {
  position: absolute;
  width: 188px;
  height: 49px;
  left: 1130px;
  top: 14px;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 49px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 0, 0, 0);
  text-decoration: none;

  color: #FFFFFF;
  border-style: none;
}


#btn_login {
  position: absolute;
width: 159px;
height: 49px;
left: 1331px;
top: 14px;

font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 49px;
display: flex;
align-items: center;
text-align: center;
text-decoration: none;

color: #FFFFFF;
}

@keyframes ply_on {

  from {
    position: absolute;
    width: 145px;
    height: 45px;
    left: 50%;
    top: 16px;

  background: #FFFFFF;
  border: 25px solid #2F80ED;
  box-sizing: border-box;
  border-radius: 15px;
  }

  to {
    position: absolute;
    width: 145px;
    height: 45px;
    left: 50%;
    top: 16px;

  background: #FFFFFF;
  border: 3px solid #2F80ED;
  box-sizing: border-box;
  border-radius: 15px;
  }
}

@keyframes ply_off {
  100% {
    border-style: none;
    position: absolute;
    width: 145px;
    height: 45px;
    left: 50%;
    top: 16px;

    border: 20px solid #2F80ED;
    background: #FFFFFF;
    border-radius: 15px;
  }

  0% {
    position: absolute;
    width: 145px;
    height: 45px;
    left: 50%;
    top: 16px;

  background: #FFFFFF;
  border: 3px solid #2F80ED;
  box-sizing: border-box;
  border-radius: 15px;
  }

}
.gagag {
  color: #FF0000;
  z-index: 306303;
  position: absolute;
  top: -100%;
  left: -100%;
  transform: translate(100%,100%);
}
